<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prysm</title>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

            @keyframes lginfadeout {
                from {
                    margin-top: -15px;
                    opacity: 100%;
                }
                99% {
                    margin-top: -55px;
                    opacity: 100%;
                }
                to {
                    opacity: 0%;
                    margin-top: -45px;
                }
            }

            @keyframes lginhidden {
                from {
                    opacity: 0%;
                    margin-top: -45px;
                }
                to {
                    opacity: 0%;
                    margin-top: -45px;
                }
            }

            .dropdowncontent {
                background-color: #1e1e1e;
                position: absolute;
                border-radius: 20px;
                padding-bottom: 10px;
                padding-right: 65px;
                display: none;
            }

            .dropdowncontent a {
                color: white;
                position: relative;
                font-family: 'Roboto';
                font-size: 18px;
                margin-top: 10px;
                font-weight: bold;
                float: none;
                padding: 1px 20px;
                text-decoration: none;
                text-align: left;
                display: block;
            }

            .userbutton {
                height: 50px;
                position: fixed;
                width: fit-content;
                right: 35px;
                top: 20px;
                opacity: 0%;
            }

            .userbutton:hover #userdropdown {
                display: block;
            }

            body {
                background-image: linear-gradient(0deg, #202225, #36393f);
            }
            lgintext {
                clear: both;
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                color: white;
                line-height: 0px;
            }
            .logo {
                width: 700px;
                height: 250px;
                left: calc(50% - 360px);
                top: 200px;
                position: absolute;
                background-color: #23272a;
                border-radius: 20px;
                padding-bottom: 40px;
                padding-right: 20px;
                transition: transform 0.5s;
            }

            .logo a {
                font-size: 140px;
                color: white;
                font-family: 'Open Sans', sans-serif;
                position: absolute;
                top: 10px;
                left: calc(0% + 200px + 40px);
            }

            .logo b {
                font-size: 45px;
                color: white;
                font-family: 'Open Sans', sans-serif;
                position: absolute;
                bottom: 30px;
                left: 16px;
                text-align: center;
                width: 100%;
                max-width: 700px;
            }
            .logo img {
                height: 150px;
                position: absolute;
                top: 30px;
                left: 40px;
            }
            .logo:hover {
                transform: scale(1.05);
            }

            .addbot {
                width: 280px;
                height: 50px;
                left: calc(50% - 360px);
                top: 550px;
                position: fixed;
                background-color: #23272a;
                border-radius: 20px;
                padding-bottom: 40px;
                padding-right: 20px;
                cursor: pointer;
                transition: opacity 0.3s, left 0.3s, transform 0.5s;
            }

            .addbot a {
                font-size: 32px;
                color: white;
                font-family: 'Open Sans', sans-serif;
                position: absolute;
                top: 23px;
                left: 75px;
            }
            .addbot img {
                height: 35px;
                position: absolute;
                top: 29px;
                left: 20px;
            }
            .addbot:hover {
                transform: scale(1.05);
            }

            .dashboard {
                width: 280px;
                height: 50px;
                left: calc(50% + 60px);
                top: 550px;
                position: fixed;
                background-color: #23272a;
                border-radius: 20px;
                padding-bottom: 40px;
                padding-right: 20px;
                cursor: pointer;
                transition: opacity 0.3s, left 0.3s, transform 0.5s;
            }

            .dashboard a {
                font-size: 32px;
                color: white;
                font-family: 'Open Sans', sans-serif;
                position: absolute;
                top: 23px;
                left: 100px;
            }
            .dashboard img {
                height: 35px;
                position: absolute;
                top: 29px;
                left: 30px;
            }
            .dashboard:hover {
                transform: scale(1.05);
            }

            .content {
                position: absolute;
            }
        </style>
        <body>

            <!-- I don't care if my HTML is shit, as long as it works -->
            
            <div id='logged_in' class="loggedin" style="z-index: 100; opacity: 0%; width: 99%; height: 45px; background-color: #7289DA; position: fixed; margin-top: -15px; border-radius: 10px; text-align: center; animation-name: lginhidden; animation-duration: 1s; animation-fill-mode: both; animation-delay: 5s;">
                <lgintext><br/>Successfully logged in. Welcome back, <%= username %>.</lgintext>
            </div>

            <div id='logged_out' class="loggedin" style="z-index: 100; opacity: 0%; width: 99%; height: 45px; background-color: #7289DA; position: fixed; margin-top: -15px; border-radius: 10px; text-align: center; animation-name: lginhidden; animation-duration: 1s; animation-fill-mode: both; animation-delay: 5s;">
                <lgintext><br/>Logged out.</lgintext>
            </div>

            <div id='lginbutton' style="cursor: pointer; background-color: #7289DA; border-radius: 10px; height: 50px; width: 150px; position: fixed; right: 20px; top: 20px;" onclick="window.location='/oauth2/signin.ejs'">
                <img src='https://discord.com/assets/28174a34e77bb5e5310ced9f95cb480b.png' style="height: 35px; margin-top: 9px; margin-left: 9px; position: fixed;">
                <a style="color: white; position: absolute; margin-top: 10px; font-family: 'Roboto'; font-size: 25px; margin-left: 55px; font-weight: bold;">Sign in</a>
            </div>

            <div id='userbutton' class="userbutton" style="margin-right: 1000px;">
                <img src='<%= avatarURL %>' style="height: 35px; margin-top: 9px; margin-right: 8px; position: relative; border-radius: 100%; ">
                <a style="color: white; position: relative; top: -10px; font-family: 'Roboto'; font-size: 20px; margin-right: 0px; font-weight: bold;"><%= username %>#<%= discriminator %></a>
                <div class="dropdowncontent" id='userdropdown'>
                    <svg href="/oauth2/logout" style="height: 16px; position: absolute; margin-left: 20px; margin-top: 14px;" id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 513.2 513"><title>logout</title><path d="M0,5V507a5,5,0,0,0,5,5H287.54a5,5,0,0,0,5-5V443.88a5,5,0,0,0-5-5H78.17a5,5,0,0,1-5-5V78.17a5,5,0,0,1,5-5H287.58a5,5,0,0,0,5-5L293,5.06A5,5,0,0,0,288,0H5A5,5,0,0,0,0,5Z" transform="translate(0.5 0.5)" style="fill:#fff;stroke:#1d1d1b;stroke-miterlimit:10"/><path d="M117,216.94v70.12a9.82,9.82,0,0,0,9.69,9.94H380.33v90L512,252,380.33,117v90H126.69A9.82,9.82,0,0,0,117,216.94Z" transform="translate(0.5 0.5)" style="fill:#fff;stroke:#1d1d1b;stroke-miterlimit:10"/><path d="M0,512" transform="translate(0.5 0.5)" style="fill:#fff;stroke:#1d1d1b;stroke-miterlimit:10"/><path d="M9.14,502.86" transform="translate(0.5 0.5)" style="fill:#fff;stroke:#1d1d1b;stroke-miterlimit:10"/></svg><a href="/oauth2/logout" style="margin-left: 20px;">Logout</a>
                    <%- supportEntry %>
                </div>
                
            </div>

            <div class="logo" id="logo">
                <img src="/assets/prysm-logo-x200.png">
                <a>PRYSM</a>
                <b>THE ALL-IN-ONE DISCORD BOT</b>
            </div>

            <div class="addbot" id="addbot" onclick="window.location='<%= inviteURL %>'">
            <img src="/assets/plus.png">
            <a>Add to Server</a>
            </div>

            <div class="dashboard" id="dashboard" onclick="window.location='/dashboard/servers.ejs'">
                <img src="/assets/dashboard.png">
                <a>Dashboard</a>
            </div>

            <div class="content" id="content">
                <a><br/></a>
                <a style="color: white;"><br/>Sample text</a>
                <a><br/></a>
                <a><br/></a>
                <a><br/></a>
                <a><br/></a>
                <a><br/></a>
                <a><br/></a>
                <a><br/></a>
                <a><br/></a>
                <a><br/></a>
                <a><br/></a>
                <a><br/></a>
                <a><br/></a>
                <a><br/></a>
                <a><br/></a>
                <a><br/></a>
                <a><br/></a>
                <a><br/></a>
                <a><br/></a>
                <a><br/>sample text</a>
                <br/>
            </div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

            <script>
                function test() {
                    fetch(`/post?action=disconnect&gid=637695357777739797`, {
                        method: 'POST'
                    }).then(res => {
                        document.getElementById("text").innerHTML = res.statusText;
                    });
                }

                if ('<%= username %>' != '') {
                    document.getElementById('lginbutton').style.opacity = '0%';
                    document.getElementById('userbutton').style.opacity = '100%';
                    document.getElementById('userbutton').style.marginRight = 'unset';
                }

                function joinSupport() {
                    fetch('/joinSupport');
                    var element = document.getElementById("joinsprt");
                    element.parentNode.removeChild(element);

                    element = document.getElementById("joinsprtimage");
                    element.parentNode.removeChild(element);
                }

                var logo = document.getElementById("logo");
                var content = document.getElementById("content");

                function resize() {
                    content.style.top = window.innerHeight + 'px';
                    content.style.top = (200 - (window.pageYOffset * 2) + window.innerHeight + 200) + 'px';
                }

                if ('<%= username %>' != '') {
                    document.title = 'Prysm - <%= username %>'
                }

                resize();
                window.onresize = resize();

                window.onscroll = function() {

                    var dashboard = document.getElementById('dashboard');
                    var addbot = document.getElementById('addbot');

                    if (window.pageYOffset > 175) {
                        addbot.style.left = "calc(50% - 360px - 300px)";
                        addbot.style.opacity = "0";
                        dashboard.style.left = "calc(50% + 60px + 300px)";
                        dashboard.style.opacity = "0";
                    } else {
                        addbot.style.left = "calc(50% - 360px)";
                        addbot.style.opacity = "100";
                        dashboard.style.left = "calc(50% + 60px)";
                        dashboard.style.opacity = "100";
                    }

                    let m = (1 - (window.pageYOffset * 2) + window.innerHeight);
                    if (m < 450) return;
                    logo.style.top = (200 - (window.pageYOffset)) + 'px';
                    addbot.style.top = (550 - (window.pageYOffset * 2)) + 'px';
                    dashboard.style.top = (550 - (window.pageYOffset * 2)) + 'px';
                    content.style.top = m + 'px';
                }

                var url = new URL(window.location.href);
                if (url.searchParams.toString().indexOf('logged_in=true') > -1) {
                    document.getElementById('logged_in').style.animationName = 'lginfadeout';
                    setTimeout(function() {
                        history.replaceState(null, '', '/index.ejs');
                    }, 6000);
                } else if (url.searchParams.toString().indexOf('logout=true') > -1) {
                    document.getElementById('logged_out').style.animationName = 'lginfadeout';
                    setTimeout(function() {
                        history.replaceState(null, '', '/index.ejs');
                    }, 6000);
                }
            </script>
            <a><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></a>
            </body>
    </head>
</html>